In [1]:
import pandas as pd
import numpy as np
pd.__version__

'1.0.4'

**How to create a series from a list, numpy array and dict?**

In [2]:
l = [1,2,3]

pd.Series(data = l, index = ['a','b','c'])

a    1
b    2
c    3
dtype: int64

In [3]:
arr = np.random.random(5,)
pd.Series(data = arr, index = range(1,len(arr)+1))

1    0.660066
2    0.236322
3    0.227053
4    0.949992
5    0.560889
dtype: float64

In [4]:
di = {'name':['vernika','manisha','hitesh'],
       'age': [27, 24,22]
     }

dict_series = pd.Series(data = di)
dict_series

name    [vernika, manisha, hitesh]
age                   [27, 24, 22]
dtype: object

**How to convert the index of a series into a column of a dataframe?**

In [10]:
df = dict_series.to_frame(name = 'values').reset_index()
df

  index                      values
0  name  [vernika, manisha, hitesh]
1   age                [27, 24, 22]

**How to combine many series to form a dataframe?**

In [35]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = pd.DataFrame({'col1':ser1,
                   'col2': ser2})
df.head(2)

  col1  col2
0    a     0
1    b     1

**idea is to create a dixtionary from column names and out values as series. or apply concat approach.**

**How to assign name to the seriesâ€™ index?**

In [33]:
ser1.name = 'alphabets'
ser1.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object